:root{
  --background-body: hsla(202, 77%, 7%, 1);
  --background-header: hsla(201, 50%, 89%, 1);
  --background-main: hsla(0, 100%, 100%, 1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: var(--background-body, #04151F);
}
header{
  text-align: center;
  padding: 1.5em;
  background-color: var(--background-header, #D5E7F1);
  margin:0;
  border-radius: 0.3em 0.3em 0 0;
}
main{
  background-color: var(--background-main, #fff);
  padding: 2em;
  border-radius: 0 0 0.3em 0.3em;
}